[Unit]
Description=PostgreSQL Exporter for DB1
After=network.target

[Service]
User=ubuntu
ExecStart=/home/avfilipova/postgres_exporter-0.11.0.linux-amd64/postgres_exporter --web.listen-address=":9187" --web.telemetry-path="/metrics"
Environment="DATA_SOURCE_NAME=postgresql://postgres:qwe123@192.168.1.36:5432/postgres?sslmode=disable"
Restart=always
WorkingDirectory=/home/avfilipova/postgres_exporter-0.11.0.linux-amd64

[Install]
WantedBy=multi-user.target

